<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      Suivi de vaccins <small>evolution d'injection du vaccins</small>
    </h1>
  </div>
</div>
<!-- /. ROW  -->
<div *ngFor="let item of data">
  <div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-primary text-center no-boder bg-color-blue">
        <div class="panel-body">
          <i class="fa fa-users fa-5x"></i>
          <h3>{{item.nbr1}}</h3>
        </div>
        <div class="panel-footer back-footer-blue">
          premier injection
        </div>

      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <div class="panel panel-primary text-center no-boder bg-color-blue">
        <div class="panel-body">
          <i class="fa fa-users fa-5x"></i>
          <h3>{{item.nbr2}}</h3>
        </div>
        <div class="panel-footer back-footer-blue">
          second injection
        </div>
      </div>
    </div>


  </div>
</div>

La pandémie de COVID-19 qui a frappé le monde bat aujourd’hui son plein. Parallèlement aux actions menées par l’OMS et
ses partenaires pour riposter à cette pandémie (suivi de la pandémie, conseils sur les interventions essentielles,
distribution de fournitures médicales vitales à ceux qui en ont besoin), une course aux vaccins a été engagée.

Les vaccins sauvent des millions de vies chaque année. Leur mode d’action consiste à entraîner et à préparer le système
immunitaire (défenses naturelles de l’organisme) à reconnaître et à combattre les virus et les bactéries qu’ils ciblent.
Ainsi, si l’organisme se trouve par la suite exposé à ces mêmes agents pathogènes, il est immédiatement prêt à les
détruire, ce qui permet de prévenir la maladie.
<br><br>

