<h3>tout sur l'actualite covid-19</h3><br>
Suivez l'actualite sur le covid-19 chaque jour sur cette page.
Le deuxième cycle d’une enquête par sondage réalisée par l’Organisation mondiale de la Santé (voir ici, en anglais)
révèle que plus d’un an après le début de la pandémie de COVID-19, des perturbations importantes persistent, environ 90
% des pays signalant encore une ou plusieurs perturbations des services de santé essentiels, ce qui ne marque aucun
changement mondial important depuis la première enquête menée à l’été 2020.
<br><br>
