<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">
      Actialite <small>tout sur l'infomation d'actualite</small>
    </h1>
  </div>
</div>

<div class="row" *ngFor="let items of data">
  <div class="col-md-4 col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        {{items.titre}}
      </div>
      <div class="panel-body">
        <p>{{items.contenue}}</p>
      </div>
      <div class="panel-footer">
        {{items.dates}}
      </div>
    </div>
  </div>

</div>
